.msg_color{
    -fx-background-color:linear-gradient(to bottom, darkblue, lightskyblue);
    -fx-background-radius: 50px;
    -fx-effect: dropshadow(three-pass-box, darkblue, 10, 0, 0, 0);
}
.back_btn{
    -fx-background-color: #FCD015;
    -fx-background-radius: 20px;
}
